@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style-type: none;
}

body {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  background-color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container {
  width: 600px;
}

.book-list {
  min-height: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
label {
  margin: 5px 0;
}

button.new {
  margin-top: 15px;
  padding: 16px 32px;
  font-size: 1rem;
}

.close {
  padding: 8px 16px;
}

ul {
  color: #f00;
  display: flex;
  flex-direction: column;
}
